@import 'https://fonts.googleapis.com/css?family=Lato:300,400';
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500';
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  background: whitesmoke;
  color: #3d3d3d;
}

header {
  background: #0072bb;
  margin: 0 0 15px 0;
  height: 110px;
  width: 100%;
  position: fixed;
  z-index: 200;
}
header nav {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 50px; 
}  
header nav ul {
    list-style-type: none;
}
header nav ul li {
  max-width: 100px;
  text-align: center;
  margin: 0;
  padding: 4px 6px;
  border-radius: 4px;
  border: 2px solid white;
  float: left;
  margin-left: 15px;
}
header nav ul li:hover {
  background: white;
}
header nav ul li.selected {
    background: white;   
}
header nav ul li.selected a {
    color: #0072bb; 
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li:hover a {
  color: #0072bb;

}
header img {
  float: left;
}
body section {
  z-index: 100;
  padding-top: 140px;  
}

h1 {
  font-size: 1.5em;
  margin: 5px 0 0 25px;
  padding: 5px 0 0;
  color: white;
  font-weight: 300;
  position: absolute;
  border-top: 2px whitesmoke solid;
  top: 65px;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 300;
}

a {
  color: #0072bb;
}
.viz {
  width: 220px;
  height: 520px;
  margin: 0 0 25px 25px;
  float: left;
  position: relative;
  cursor: pointer;
}

#allCountries {
  background: #0072bb;
  padding: 8px 15px;
  color: white;
  font-size: 1.3;
  position: absolute;
  top: 130px;
  left: 20px;
  opacity: 0;
}

#infoPanel {
  display: inline-block;
  position: relative;
  margin: 40px 0 0 40px;
  max-width: 600px;
  font-family: Lato;
  display: none;
}

#infoPanel h3 {
  max-width: 420px;
  font-weight: 400;
}

#infoPanel span {
  max-width: 420px;
  font-weight: 300;
  font-size: .9em;
}

#infoPanel ul {
  list-style-type: none;
  padding: 0;
}

#infoPanel li {
  margin: 0 0 6px 0;
  font-weight: 300;
}

#infoPanel li span {
  font-weight: 400;
}

.goal text {
  fill: #0072bb;
  font-size: .9em;
  dominant-baseline: middle;
} 
.viz hr {
  margin-bottom: 20px;
}

.indicator-label {
  background: whitesmoke;
  padding: 0 10px;
  position: absolute;
  left: 60px;
  top: 59px;
}

.download-report-label {
  background: whitesmoke;
  padding: 0 10px;
  position: absolute;
  left: 330px;
  top: 200px;
}

#indicator-window {
  min-width: 140px;
  max-width: 190px;
  padding: 12px 18px;
  background: white;
  position: absolute;
  font-size: .9em;
  border: 1px solid grey;
  border-radius: 3px;
  z-index: 100;
  font-family: Lato, sans-serif;
  font-size: .9em;
  line-height: 1.2em;
  font-weight: 300;
  display: none;
}

#indicator {
  color: #0072bb;
}

#value {
  font-weight: 600;
}

#goals {
  width: 300px;
  float: left;
  margin: 50px 0 2000px 20px;
  position: relative;
}

 #goals:hover {
      cursor: default;
  } 
#goals hr {
  margin-top: 18px;
  margin-bottom: -18px;
}
#goals text, #goals tspan a {
  fill: #0072bb;
  font-size: .9em;
/*			dominant-baseline: middle;*/
}
#goals span {
  position: absolute;
  top: 10px;
  left: 123px;
  background: whitesmoke;
  padding: 0 14px;
}
#download-goals {
  width: 50px;
  min-height: 680px;
  float: left;
  display: none;
  width: 60px;
  margin: 74px 0 15px 15px;
}
#download-goals a {
    display: block;
    text-align: center;
    margin-top: 22px;
    font-size: .9em;
}
#animated-map {
      margin: 0 auto;
      padding-top: 150px; 
      display: none;
}